<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <application
            android:allowBackup="true"
            android:icon="@drawable/merry_portrait"
            android:label="MerryRiana_HSApp"
            android:roundIcon="@drawable/merry_portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"
                  android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".UserActivity"
                android:label="@string/title_activity_user"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ManageUserActivity">
        </activity>
        <activity
                android:name=".AdminActivity"
                android:label="Admin"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>